@import url("../alerts/alert-message.css");

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fae6e6;
  margin-bottom: 1em;
}

.error svg {
  margin-left: 0.5em;
}
