input,
textarea,
select {
  border-radius: 0.5em;
  border: 1px solid gray;
  padding: 0.5em;
}

label {
  font-weight: 600;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

#photo::file-selector-button {
  display: none;
}

button[type="submit"] {
  padding: 0.5em;
  margin-bottom: 1.5em;
  border-radius: 0.5em;
  border: 1px solid gray;
  width: 5.5em;
  background-color: orange;
  cursor: pointer;
  transition: background-color 250ms ease-in;
  transition: color 250ms ease-in;
}

button[type="submit"]:hover {
  background-color: darkorange;
}

button[type="submit"]:disabled {
  background-color: #d9d9d9;
  color: #fff;
}

.visually-hidden {
  border-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
