form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.password-field {
  position: relative;
}

.form-input button {
  position: absolute;
  right: 0.2em;
  margin-top: 0.6em;
  margin-right: 0.2em;
  border: none;
  background-color: #fff;
}
