.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 935px;
  margin: 0 auto;
  padding: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
}

p {
  text-align: center;
  max-width: 65ch;
}

label {
  font-weight: 600;
}

.recipe-header h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-header h1::after {
  content: "";
  display: block;
  width: 50%;
  border: 2px solid orange;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  padding: 2em;
  border: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

#description {
  min-width: 198px;
  max-width: 360px;
  min-height: 90px;
}

#direction,
#note {
  max-width: 431.18px;
  min-height: 43px;
}

.ingredients,
.directions,
.servings,
.recipe-cook-times,
.notes {
  border-top: none;
  flex-direction: column;
  align-items: center;
}

.ingredients .form-input,
.directions .form-input,
.servings .form-input,
.notes .form-input {
  width: 100%;
}

.ingredient-field,
.direction-field,
.time-field,
.note-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient-field input,
.direction-field textarea,
.note-field textarea {
  width: 90%;
}

.ingredient-field svg,
.direction-field svg,
.note-field svg {
  height: 2em;
  padding: 0.4em;
}

.direction-field label,
.note-field label {
  text-align: center;
  margin-right: 1em;
}

.time-field {
  gap: 1em;
}

.time-field label {
  width: 20ch;
}

.legend-title {
  font-weight: bold;
  padding: 0;
  margin-top: 1em;
}

.sub-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-titles p:nth-child(1) {
  padding-bottom: 1em;
}

.sub-titles p:nth-child(2) {
  font-size: 0.9rem;
  padding: 0;
}

.sub-titles p:nth-child(2) a {
  display: inline;
  color: #595959;
  text-decoration: underline;
  cursor: pointer;
}

.sub-titles p:nth-child(2) a:hover {
  text-decoration: underline orange;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

#photo::file-selector-button {
  display: none;
}

.add-btn {
  padding: 0.5em;
  width: 10em;
  border: 2px solid orange;
  background-color: #fff;
  cursor: pointer;
}

.add-btn::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1.2em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z'/%3E%3C/svg%3E");
  display: inline-block;
  padding-right: 0.3em;
}

.add-btn:hover {
  background-color: orange;
  color: #fff;
}

.add-btn:hover::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1.2em' fill='white' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z'/%3E%3C/svg%3E");
}

button[type="submit"] {
  margin-top: 1em;
}

@media (width <= 500px) {
  .form-input {
    width: 22em;
  }

  .time-field label {
    width: 10ch;
    padding-left: 0.5em;
    text-align: center;
  }

  .time-field input {
    width: 8em;
    margin-left: 1em;
  }
}
